<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PushBotsObjcDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>423730C21E1D283800EF8559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423730DB1E1D283A00EF8559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423730E61E1D283A00EF8559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
